<body>
    <form method="POST" action="05.page.php">
        
        <h1>Ler o nome do aluno e calcular sua nota</h1>
        <hr>



        primeiraNota: <input type="number"  name="nota"/> <br>
        segundaNota: <input type="number" name="nota"/>  <br>
        terceiraNota: <input type="number" name="nota"/>  <br>
        quartaNota: <input type="number" name="nota"/>  <br>

        
        <input type="submit" value="calcular"/>
        

    </form>
</body>
</html>
